* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PoynterOSDisp";
  src: url("../public/fonts/PoynterOSDispRoman.ttf") format("truetype");
  /* Puedes especificar más formatos aquí si lo deseas, como woff2, woff, etc. */
}

@font-face {
  font-family: "Pragmatica";
  src: url("../public/fonts/PragmaticaLight.otf") format("opentype");
  font-weight: 100;
}

body {
  font-family: "PoynterOSDisp", sans-serif;
}

html {
  scroll-behavior: smooth;
}
